---
layout: default
section: blog
---

<div class='listing col6 pad4h margin3'>

<p>[Organize with a graphic – perhaps a circle with topics around the circle]</p>

  {% for item in site.categories.blog limit:1000 %}
    {% capture date %}{{ item.date | date: '%B %Y' }}{% endcapture %}
    {% capture ndate %}{{ item.next.date | date: '%B %Y' }}{% endcapture %}

    {% if date != ndate %}
      
    {% endif %}
    <a class='item' href='{{site.baseurl}}{{item.url}}'>{{item.title}}</a>
  {% endfor %}


</div>

{% include rss-link.html %}
{% include disclaimer.html %}

